<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Student Reflections</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
                <h2>Student Reflections</h2>
                <a class="btn btn-primary btn-lg" th:href="@{/ojt/add}" th:text="Add" ></a>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">Student ID</th>
                            <th style="width: 150px;">Student Name</th>
                            <th style="width: 150px;">Student Reflections</th>
                            <th style="width: 150px;">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ojt : ${studentReflect}">
                            <td th:text="${ojt.id}"></td>
                            <td th:text="${ojt.studentId}"></td>
                            <td th:text="${ojt.name}"></td>
                            <td th:text="${ojt.reflection}"></td>
                            <td><a class="btn btn-primary btn-lg"  th:href="@{/ojt/update(id=${ojt.id})}">Update</a>&nbsp;
                                <a class="btn btn-primary btn-lg"  th:href="@{/ojt/delete(id=${ojt.id})}">Delete</a>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>    
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>