<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${ojtReflection}" action="addSubmit (Not used)" th:action="@{/ojt/addSubmit}" method="get">
                <div class="container" >
                    <div class="intro-text form-horizontal" >
                        Add a student Camper
                    </div>
                    <div>
                        <input type="hidden" th:field="${ojtReflection.id}" />
                        <label>Student Id</label>
                        <input type="text" name="studentId" th:field="${ojtReflection.studentId}"/>
                        <ul th:if="${#fields.hasErrors('studentId')}">
                            <li class="error" th:each="err : ${#fields.errors('studentId')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Name</label>
                        <input type="text" name="name" th:field="${ojtReflection.name}"/>
                        <ul th:if="${#fields.hasErrors('name')}">
                            <li class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Reflection</label>
                        <input type="text" name="reflection" th:field="${ojtReflection.reflection}"/>
                        <ul th:if="${#fields.hasErrors('reflection')}">
                            <li class="error" th:each="err : ${#fields.errors('reflection')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <input type="submit" value="Submit"/>
                    </div>

                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>